include hops/__pycache__/* 
include hops/reduction_alignment_help.txt 
include hops/photometry_routines.pyc 
include hops/holomon.gif 
include hops/fitting_routines.pyc 
include hops/alignment_routines.pyc 
include hops/reduction_routines.pyc 
include hops/log_profile.yaml 
include hops/tools.pyc 
include hops/__pycache__ 
include hops/__run__.pyc 
include hops/fitting_help.txt 
include hops/log.yaml 
include hops/logo.jpg 
include hops/__init__.pyc 
include hops/holomon_or.gif 
include hops/hops_basics.pyc 
include hops/log_user.yaml 
include hops/log_profile2.yaml 
include hops/photometry_help.txt 
include README.md 
include LICENSE 
